<mat-grid-list cols="1" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Connexion</mat-card-title>
      <mat-card-subtitle>Bienvenu sur ce sublime espace de connexion.</mat-card-subtitle>
      <hr>
      <mat-card-content>
          <mat-form-field class="fw" appearance="outline">
            <mat-label>Nom d'utilisateur *</mat-label>
            <input  matInput placeholder="Saisie votre nom d'utilisateur">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          <mat-form-field class="fw" appearance="outline">
            <mat-label>Mot de passe *</mat-label>
            <input autocomplete="new-password" type="password" matInput placeholder="Saisie votre nom mot de passe">
            <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button style="" (click)="login()" mat-raised-button color="primary">Se connecter</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>